.menu-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Adjust the height as per your layout */
}

.menu-detail {
    text-align: center; /* Optional: Align the content center horizontally */
    width: 80%; /* Optional: Adjust the width as per your design */
    max-width: 600px; /* Optional: Set maximum width for better readability */
    border: 1px solid #ccc;
    padding: 20px;
    background: #d9d9d9;
    box-shadow: 2px 2px 5px black;
}

.menu-detail img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Optional: Add margin for spacing */
}

